---
layout: layout.njk
dot: .
metaDescription: Retrouvez mes photos de chaque catégories.
body: pages
nav: nav-pages
activeGalerie: active
script2: ../script/galerie.js
---

    <h2>galerie de photos</h2>

    <div class="gallery">

      <div class="categories">
        <button class="category all">toutes</button><br>
        <button class="category wedding">mariage</button><br>
        <button class="category pregnancy">grossesse</button><br>
        <button class="category baby">bébé</button><br>
        <button class="category family">famille</button><br>
        <button class="category baptism">baptême</button><br>
        <button class="category couple">couple</button><br>
        <button class="category portrait">portrait</button>
      </div>

      <div class="photos">
        <div id="photo-gallery">
          {{content | safe}}
        </div>
      </div>

    </div>