@font-face {
  font-family: 'NovaMono';
  src: url(../fonts/Nova_Mono/NovaMono-Regular.ttf);
}
@font-face {
  font-family: 'BaiJamjuree-Regular';
  src: url(../fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'BaiJamjuree-Regular';
}
.body-index { /* ### only on index ### */
  height: 100%;
  background-image: url(../photos/mobile001.jpg);
  background-repeat: no-repeat;
  background-position: top;
	background-size: cover;
}
.body-pages { /* ### only on pages ### */
  background-color: #CECAC4;
}

h1 { /* ### title on index ### */
  font-family: 'NovaMono';
  color: #ffffff;
  font-size: 2rem;
  margin-top: 25rem;
  text-align: center;
}
h2 { /* ### titles on pages ### */
  font-family: 'NovaMono';
  color: #5E515E;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
h3 { /* ### titles on contact page ### */
  font-family: 'NovaMono';
  color: #5E515E;
  font-size: 1.5rem;
}

main {
  margin-top: 5rem;
}


/* ########### HEADER NAV ########### */
header nav {
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	height: 50px;
}
.nav-pages { /* ### only on pages ### */
  background-color: #47555E;
}
.logo {
  height: 45px;
}

.hamburger {
  display: block;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.menu {
  position: fixed;
  right: -100%;
  top: 50px;
  gap: 0;
  flex-direction: column;		
  width: 6rem;
  transition: 0.3s;  
  background-color: #47555E;
}
.menu-index { /* ### only on index ### */
  background-color: rgba(71, 85, 94, 0.5);
}
.menu-item {
  list-style: none;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: right;
}
.menu.active {
  right: 0;
}
.menu-link {
	color: white;
	text-decoration: none;
  transition: 0.7s ease;
}
.menu-link.active {
  color: #CECAC4;
  font-weight: bold;
  text-decoration: underline;
}


/* ########### GALERIE PAGE ########### */
.gallery {
  display: block;  
}
/* ### categories ### */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.category {
	width: 8rem;
  border: none;
  border-bottom: #5E515E solid 1px;
  background-color: inherit;
  color: #5E515E;
  text-align: left;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.all {
  font-size: 1.5rem;
} 
/* ### photos ### */
#photo-gallery p { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#photo-gallery img {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  vertical-align: middle;
}


/* ########### TARIFS PAGE ########### */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 0.75rem;
  width: 22rem;
}
.card img {
  object-fit: cover;
  height: 13rem;
  width: 100%;
}
.card-body {
  text-align: right;
}
.card-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.card-price {
  font-weight: bold;
  font-size: 1.75rem;
}


/* ########### CONTACT PAGE ########### */
.contact {
  display: block;
  color: #5E515E;
  justify-content: center;
  text-align: center;
}
/* ### form ### */
form {
	display: table;
  margin-left: auto;
  margin-right: auto;
}
.form label {
	display: table-cell;
}
.form input, .form textarea, .form select {
  width: 20rem;
	margin-bottom: 10px;
  background-color: #ffffff;
  border: #000000 solid 1px;
}
option {
  color: #5E515E;
}
textarea {
	height: 100px;
}
.send {
	background-color: #5E515E;
	border: none;
	border-radius: 3px;
	padding: 5px;
	color: #ffffff
}
/* ### infos ### */
.email a {
  text-decoration: underline;
  color: #5E515E;
}
.follow a {
  text-decoration: none;
  color: #5E515E;
}
.follow .bi {
  margin-right: 1rem;
}
.copyright {
  font-weight: bold;
}
.gap {
  height: 2rem;
}





/* ################################# */
/* ########### LANDSCAPE ########### */
/* ################################# */
@media screen and (orientation: landscape) {
  .body-index { /* ### only on index ### */
    background-image: url(../photos/desktop001.jpg);
    background-position: top;
  }
  h1 { /* ### title on index ### */
    margin-top: 10rem;
  }

  /* ########### GALERIE PAGE ########### */
  .gallery {
    display: flex;  
  }
  /* ### categories ### */
  .categories {
    display: block;
    flex-wrap: inherit;
    padding: 1rem;  
  }
  .category {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .all {
    border-top: #5E515E solid 1px;
    font-size: 1.5rem;
  } 

  /* ########### CONTACT PAGE ########### */
  .contact {
    display: flex;
    text-align: left;
  }
  .form {
    margin-right: 3rem;
  }
}





/* ############################## */
/* ########### TABLET ########### */
/* ############################## */
@media screen and (min-width: 1050px) { /*plus grand que 1050px*/
  h1 { /* ### title on index ### */
    margin-top: inherit;
    font-size: 3.5rem;
    line-height: 50rem;
  }
  h2 { /* ### titles on pages ### */
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  h3 { /* ### titles on contact page ### */
    font-size: 2rem;
  }
  
  main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
  }

  /* ########### HEADER NAV ########### */
  header nav {
    height: 70px;
  }
  .logo {
    height: 65px;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    position: inherit;
    right: inherit;
    top: inherit;
    gap: 1.5rem;
    flex-direction: inherit;		
    width: inherit;
    transition: inherit;    
    background-color: inherit;
  }
  .menu-item {
    cursor: pointer;  
  }
  .menu-link:hover {
    color: #CECAC4;
    font-weight: bold;
    text-decoration: underline;
  }

  /* ########### GALERIE PAGE ########### */
  .gallery {
    display: flex;  
  }
  /* ### categories ### */
  .categories {
    display: block;
    flex-wrap: inherit;
    padding: 1rem;  
  }
  .category {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .all {
    border-top: #5E515E solid 1px;
  } 
  .category:hover {
    font-weight: bold;
  }
  /* ### photos ### */
  #photo-gallery img {
    width: 25rem;
    height: 25rem;
  }

  /* ########### TARIFS PAGE ########### */


  /* ########### CONTACT PAGE ########### */
  .contact {
    display: flex;
    text-align: left;
  }
  /* ### form ### */
  .form {
    margin-right: 5rem;
  }
  .form input, .form textarea, .form select {
    width: 30rem;
  }
  textarea {
    height: 200px;
  }
  .send:hover {
    background-color: #ffffff;
    color: #5E515E;
    font-weight: bold;
  }
  /* ### infos ### */
  .info {
    width: 33%;
  }
  .email a, .follow a {
    text-decoration: none;
    color: #5E515E;
  }
  .email a:hover, .follow a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  .gap {
    height: 3rem;
  }
}





/* ############################### */
/* ########### DESKTOP ########### */
/* ############################### */
@media screen and (min-width: 1200px) {  /*plus grand que 1200px*/

}
