---
layout: layout.njk
metaDescription: En studio ou en extérieur pour immortalisez vos plus beaux instants et vos plus beaux souvenirs ! Contactez-moi pour échanger sur vos attentes et réserver votre séance.
title: accueil
body: index
navMenu: menu-index
activeAccueil: active
---

    <h1>Charles Cantin - Photographe</h1>

 
