---
layout: layout.njk
dot: .
title: tarifs
nav: nav-pages
body: pages
activeTarifs: active
---

    <h2>tarifs & prestations</h2>

    <div class="cards">

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../photos/portrait001.jpg" class="img-fluid rounded-start" alt="portrait">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">juste moi</p>
              <p class="card-price">130 €</p>
              <p class="card-text">séance pour une personne, en extérieur ou en studio</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../photos/couple001.jpg" class="img-fluid rounded-start" alt="couple">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">pour deux</p>
              <p class="card-price">195 €</p>
              <p class="card-text">séance pour deux personnes, en extérieur ou en studio</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../photos/family001.jpg" class="img-fluid rounded-start" alt="famille">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">famille</p>
              <p class="card-price">220 €</p>
              <p class="card-text">pour la famille ou les amis jusqu'à 4 personnes, en extérieur ou en studio</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../photos/pregnancy001.jpg" class="img-fluid rounded-start" alt="grossesse">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">il était une fois</p>
              <p class="card-price">160 €</p>
              <p class="card-text">photo de grossesse (à votre domicile, en extérieur ou en studio)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../photos/baby001.jpg" class="img-fluid rounded-start" alt="bébé">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">mon bébé</p>
              <p class="card-price">100 €</p>
              <p class="card-text">photo d'enfant jusqu'à 3 ans (photo à domicile)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../photos/wedding001.jpg" class="img-fluid rounded-start" alt="mariage">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">j'immortalise l'événement</p>
              <p class="card-price">sur mesure</p>
              <p class="card-text">prestation de mariage ou baptême sur devis</p>
            </div>
          </div>
        </div>
      </div>

    </div>
